In [6]:
import pandas as pd 
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

#Read the excel file and store the sheets into dataframes.
df = pd.ExcelFile('C:/Jyoti/Data Analytics/PYTHON Session/Python Hackathon/V02Max_Combined.xlsx')
kay = pd.read_excel(df, sheet_name = 'Kayaking')
ath = pd.read_excel(df, sheet_name = 'Athletes')
tri = pd.read_excel(df, sheet_name = 'Triathlon')
fen = pd.read_excel(df, sheet_name = 'Fencing')

QQ5.   [ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25],
       [26, 27, 28, 29, 30]  Use array slicing to display elements 4,7,1

Q66. On average, how long did each participant spend at 200 watts?

Q67. Athletes from which sport had the highest average cardiorespiratory fitness in terms of v02 max?

Q68. What % of athletes exceeded 90% of max HR? (Max HR is calculated as 220-Age)

Q69. What was the lowest heart rate recorded at a power wattage of 200

Q70. On Average how long did most athletes spend at 75% of MaxHR (Max HR is calculated as 220-Age)

Q71. Create a crosstab to show each sport as a column and each heart rate zone as rows with counts of rows that satisfy each condition as values

Q72. Provide an example of a lambda function that multiplies any 2 input values.

In [8]:
int_Var1 = input("Enter Your first Value : ")
int_Var2 = input("Enter Your Second Value : ")

x = lambda int_Var1, int_Var2: int_Var1 * int_Var2
print(x)

Enter Your first Value :  5
Enter Your Second Value :  6

<function <lambda> at 0x00000266A657BD80>

Q73. How long was athlete 17s warm up

Q74. Take a students full name and reverse it using a for loop

In [ ]:

String Full_Name =

Q75. What was the maximum heart rate recorded during the test. Which athlete did it belong to? Display name, sport and HR

Q76. np.arange(1,31).reshape(6,5),find array slicing to get the elements 2,5,13,25,30.

Q77. Display a violin chart to show distribution of VO2Max against age.

Q78. Create a heatmap that show heart rate zones by minutes and the number of athletes in each HR and each minute.

Q79. Plot the Donut chart athlete distrubution by Gender

Q80. find the size of Tuple for any given input.