In [10]:
import pandas as pd 
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

#Read the excel file and store the sheets into dataframes.
df = pd.ExcelFile('C:/Jyoti/Data Analytics/PYTHON Session/Python Hackathon/V02Max_Combined.xlsx')
kay = pd.read_excel(df, sheet_name = 'Kayaking')
ath = pd.read_excel(df, sheet_name = 'Athletes')
tri = pd.read_excel(df, sheet_name = 'Triathlon')
fen = pd.read_excel(df, sheet_name = 'Fencing')

## Qn1. Join all sport-related tables to produce one dataframe that has all athletes values. The final table should only have the same 5 columns: ID, time,power,RR, vo2, power. Write this dataframe to an excel file.

In [12]:
#Concatenating all sport related table to one dataframe final_table
final_table=pd.concat([fen[['ID','time','RR','VO2','power']],
                       kay[['ID','time','RR','VO2','power']],
                       tri[['ID','time','RR','VO2','power']]],ignore_index=True)

#defining output excel file name
output='FinalVO2_Table.xlsx'

#writing dataframe to excel using to_excel
final_table.to_excel(output,index=False)
print("Dataframe successfully written to Excel file",output)

#Reading the excel file back into dataframe for verification
print("\nReading",output,"Excel file for Verification:")
sportdf=pd.read_excel("FinalVO2_Table.xlsx")
print(sportdf)

Dataframe successfully written to Excel file FinalVO2_Table.xlsx

Reading FinalVO2_Table.xlsx Excel file for Verification:
       ID     time     RR       VO2  power
0       1 -130.840  672.0  0.302008      0
1       1 -130.168  672.0  0.302008      0
2       1 -129.536  632.0  0.301336      0
3       1 -128.824  712.0  0.301336      0
4       1 -127.948  876.0  0.301336      0
...    ..      ...    ...       ...    ...
52057  18  947.288  536.0  0.507071      0
52058  18  947.816  528.0  0.507071      0
52059  18  948.344  528.0  0.507071      0
52060  18  948.884  540.0  0.507071      0
52061  18  949.424  540.0  0.507071      0

[52062 rows x 5 columns]

## Qn2. Divide the rows into 3 parts: Warm up, GET(graded exercise test) and cool down using the data def. Label each row accordingly

In [17]:
#Initialize Dataframe phase
phase=pd.DataFrame(final_table)

#initialize Phase column
phase['Phase']='Other Phase'

#Apply conditions to find Warm Up-time less than 0,GET-time>=0 and power>0,Cool Down-time>0 and power=0
phase.loc[phase['time']<0,'Phase']='Warm Up'
phase.loc[(phase['time']>=0) & (phase['power']>0),'Phase']='GET'
phase.loc[(phase['time']>0) & (phase['power']==0),'Phase']='Cool Down'

#print dataframe phase details
print(phase)

       ID     time     RR       VO2  power      Phase
0       1 -130.840  672.0  0.302008      0    Warm Up
1       1 -130.168  672.0  0.302008      0    Warm Up
2       1 -129.536  632.0  0.301336      0    Warm Up
3       1 -128.824  712.0  0.301336      0    Warm Up
4       1 -127.948  876.0  0.301336      0    Warm Up
...    ..      ...    ...       ...    ...        ...
52057  18  947.288  536.0  0.507071      0  Cool Down
52058  18  947.816  528.0  0.507071      0  Cool Down
52059  18  948.344  528.0  0.507071      0  Cool Down
52060  18  948.884  540.0  0.507071      0  Cool Down
52061  18  949.424  540.0  0.507071      0  Cool Down

[52062 rows x 6 columns]

## Qn 65.   [ 1,  2,  3,  4,  5],  [ 6,  7,  8,  9, 10]  [11, 12, 13, 14, 15   [16, 17, 18, 19, 2    [21, 22, 23, 24,      [26, 27, 28, 29, 30]  Use array slicing to display elements 4,7,1

## Qn 66. On average, how long did each participant spend at 200 watts?

Q67. Athletes from which sport had the highest average cardiorespiratory fitness in terms of v02 max?

Q68. What % of athletes exceeded 90% of max HR? (Max HR is calculated as 220-Age)

Q69. What was the lowest heart rate recorded at a power wattage of 200

Q70. On Average how long did most athletes spend at 75% of MaxHR (Max HR is calculated as 220-Age)

Q71. Create a crosstab to show each sport as a column and each heart rate zone as rows with counts of rows that satisfy each condition as values

Q72. Provide an example of a lambda function that multiplies any 2 input values.

In [30]:

# Took 2 inputs from the user
int1 = float(input("Enter first number: "))
int2 = float(input("Enter second number: "))

# Defined the lambda function
multiply_num = lambda int1, int2: int1 * int2

# Pass the inputs to the lambda function and print the result
result = multiply_num(int1, int2)
print("The Result is:", result)

Enter first number:  4
Enter second number:  6

The Result is: 24.0

Q73. How long was athlete 17s warm up

Q74. Take a students full name and reverse it using a for loop

In [ ]:

String Full_Name =

Q75. What was the maximum heart rate recorded during the test. Which athlete did it belong to? Display name, sport and HR

Q76. np.arange(1,31).reshape(6,5),find array slicing to get the elements 2,5,13,25,30.

Q77. Display a violin chart to show distribution of VO2Max against age.

Q78. Create a heatmap that show heart rate zones by minutes and the number of athletes in each HR and each minute.

Q79. Plot the Donut chart athlete distrubution by Gender

Q80. find the size of Tuple for any given input.